@font-face {
  font-family: "Jaini";
  src: url("./assets/Jaini/Jaini-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0px;
  font-family: "Jaini", serif;
}

a {
  text-decoration: none;
  color: #ffff00f7;
}

a:hover {
  color: #ffd700;
}
